@import '../../styles/main.scss';

.registerSection {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  min-height: 100vh;
}

.registerBlock {
  display: flex;
  flex-direction: column;
  width: 430px;
  justify-content: center;
}

.title {
  margin-bottom: 22px;
  font-size: $fs-30;
  font-weight: $fw-500;
  line-height: 45px;
}

.description {
  margin-bottom: 55px;
  line-height: 25px;
}

.link {
  margin-left: 10px;
  font-weight: $fw-600;
  color: $color-blue;
}

.form {
  margin-bottom: 60px;
}

.label {
  display: block;
  color: $color-grey;
  font-size: $fs-12;
}

.inputWrapper {
  margin-bottom: 45px;
}

.input {
  height: 35px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 15px;
  font-family: $ff-montserrat;
  color: $color-black-1;
  outline: none;
  border: none;
  border-bottom: 2px solid $color-black-1;
}

.button {
  height: 55px;
  width: 100%;
  font-size: $fs-18;
  color: $color-white;
  border: none;
  border-radius: 32px;
  background-color: $color-blue;
  @include hover(background-color, $color-light-blue);
}

.descriptionGrey {
  color: $color-grey;
  text-align: center;
  margin-bottom: 40px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  background-color: $color-transparent;
  border-radius: 15px;
}

.image {
  height: 410px;
  width: 550px;
  background-image: linear-gradient(to right, $color-transparent, $color-transparent), url(../../styles/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
