@import '../../styles/main.scss';

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 33px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: $color-blue-charm;
  color: $color-white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  @include hover(background-color, $color-blue-charm-1);

  &Close {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  } 
}