@import '../../styles/main.scss';

.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-white-1;

  &__label {
    margin-bottom: 10px;
    font-weight: $fw-600;
  }

  &__input {
    height: 50px;
    max-width: 600px;
    margin-bottom: 40px;
    padding-left: 20px;
    font-family: $ff-montserrat;
    color: $color-grey;
    border: 1px solid $color-purple;
    outline: none;
    border-radius: 5px;
    box-shadow: $shadow;
  }

  &__results {
    font-weight: $fw-600;
    margin-bottom: 5px;
  }
}
