@import '../../styles/main.scss';

.loginSection {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.loginBlock {
  display: flex;
  flex-direction: column;
  width: 430px;
  justify-content: center;
}

.title {
  margin-bottom: 22px;
  font-size: $fs-30;
  font-weight: $fw-500;
  line-height: 45px;
}

.description {
  margin-bottom: 55px;
  line-height: 25px;
}

.link {
  margin-left: 10px;
  font-weight: $fw-600;
  color: $color-blue;
}

.form {
  margin-bottom: 60px;
}

.label {
  display: block;
  color: $color-grey;
  font-size: $fs-12;
}

.inputWrapper {
  margin-bottom: 45px;
}

.input {
  height: 35px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 15px;
  font-family: $ff-montserrat;
  color: $color-black-1;
  outline: none;
  border: none;
  border-bottom: 2px solid $color-black-1;
}

.button {
  height: 55px;
  width: 100%;
  font-size: $fs-18;
  color: $color-white;
  border: none;
  border-radius: 32px;
  background-color: $color-blue;
  @include hover(background-color, $color-light-blue);
}

.descriptionGrey {
  color: $color-grey;
  text-align: center;
  margin-bottom: 40px;
}
