@import '../../styles/main.scss';

.register-section {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  min-height: 100vh;
}

.register-block {
  display: flex;
  flex-direction: column;
  width: 430px;
  justify-content: center;

  &__image-wrapper {
    display: flex;
    align-items: center;
    background-color: $color-transparent;
    border-radius: 15px;
  }

  &__image {
    height: 410px;
    width: 550px;
    background-image: linear-gradient(to right, $color-transparent, $color-transparent), url(../../styles/images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}


