@import '../../styles/main.scss';

.header {
  display: flex;
  background: $color-purple;
}

.nav {
  padding: 0 75px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  color: $color-white;

  &__title {
    font-size: $fs-30;
    font-weight: $fw-600;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
  }

  &__link {
    margin-left: 5px;
    transition: color, backround-color, $transition-time;

    &,
    &:active {
      font-weight: $fw-700;
      padding: 0.25rem 1.5rem;
      border-radius: 4px;
      background: $color-purple-1;
    }

    &:first-of-type {
      margin-left: -1.5rem;
    }

    &:hover {
      color: $color-white;
      background: $color-purple-2;
    }
  }

  &__list {
    display: flex;

    &:first-child {
      margin-left: 0;
    }
  }
}