@import '../../styles/main.scss';

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}

.form {
  min-width: 30%;
  margin-bottom: 60px;
}

.label {
  display: block;
  color: $color-grey;
  font-size: $fs-12;
}

.inputWrapper {
  margin-bottom: 45px;
}

.input {
  height: 35px;
  width: 100%;
  margin-bottom: 25px;
  padding-left: 15px;
  font-family: $ff-montserrat;
  color: $color-black-1;
  outline: none;
  border: none;
  border-bottom: 2px solid $color-black-1;
}

.button {
  height: 55px;
  width: 100%;
  font-size: $fs-18;
  color: $color-white;
  border: none;
  border-radius: 32px;
  background-color: $color-blue-charm;
  text-transform: uppercase;
  @include hover(background-color, $color-blue-charm-1);
}

.descriptionGrey {
  color: $color-grey;
  text-align: center;
  margin-bottom: 40px;
}

.imageWrapper {
  display: flex;
  align-items: center;
  background-color: $color-transparent;
  border-radius: 15px;
}

.image {
  height: 410px;
  width: 550px;
  background-image: linear-gradient(to right, $color-transparent, $color-transparent), url(../../styles/images/login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
